<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66066502333-ils87uoiq828p9m9g1ltgrfsj6vloim5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66066502333-ils87uoiq828p9m9g1ltgrfsj6vloim5</string>
	<key>API_KEY</key>
	<string>AIzaSyAoUv-LVRSp3w5m5x1WGh_OmFJmVCkq5rA</string>
	<key>GCM_SENDER_ID</key>
	<string>66066502333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rohan.Cosmos</string>
	<key>PROJECT_ID</key>
	<string>cosmos-8cf65</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmos-8cf65.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66066502333:ios:7bb37ff1b547d13408ddd4</string>
</dict>
</plist>